@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}
/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex !important;
}
.carousel-indicators li {
  background-color: #000 !important;
  height: 6px !important;
}
.carousel-container {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-top: -16px;
}
.carousel-caption {
  margin-top: 10px;
}
